html * {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


header{
    background-color: rgb(255, 240, 221);
}



body{
    margin:0px;
    height: 100vh;
    width: 100vw;
}


.bckimage{
    background-image:url('eberhard-grossgasteiger-3uFxLmBTHN4-unsplash.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    width: 600px;
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    opacity: 0.90;
}


content{
    display:flex;
    height:100%;
    width:100%;
}

rightside{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

leftside{
    display:flex;
}

container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:400px;
}

controw1, controw2, controw3{
    display:flex;
    width:475px;
    justify-content: space-between;
}

myform{
    display:flex;
    flex-direction:column;
}