@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html * {
    font-family:'Pontano Sans','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgba(31, 31, 31, 0.849);
}

:root{
    --primary-colour: rgb(255, 240, 221);
    --accent-colour: rgb(250, 156, 171);
    --primary-dark: 
}

header{
    position:relative;
    z-index:0;
    background-color: var(--primary-colour);
    padding-left:40px;
    width:100%;
    height:33%;
    display:flex;
    align-items: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.164), -5px 3px 5px rgba(0, 0, 0, 0.164);
    font-size: 1.25rem;

}



body{
    margin:0px;
    height: 100vh;
    width: 100%;
}


.bckimage{
    background-image:url('eberhard-grossgasteiger-3uFxLmBTHN4-unsplash.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    width: 700px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0.90;
}

input{
    box-sizing: border-box;
    width: 250px;
    height:40px;
    font-size:1.25rem;
    background-color:var(--accent-colour);
    border: 1px solid rgb(250, 231, 225);
    border-radius: 10px;
    padding: 10px;
}

a {
    color:var(--accent-colour);
}

content{
    display:flex;
    height:100%;
    width:100%;
}

rightside{
    display:flex;
    flex-direction: column;
    width:100%;
}

leftside{

    display:flex;
    position:relative;
    z-index: -4;
}

.banner {
    margin:150px;
    height:200px;
    width:100%;
    background-color: rgba(255, 70, 70, 0.527);
    display:flex;
    justify-content: center;
    align-items:center;

}

container{
    position:relative;
    z-index: 0;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 45%;
    padding-left: 40px;
    width: 100%;
    background-color:rgb(250, 231, 225);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.164), 0px -3px 5px rgba(0, 0, 0, 0.164), -5px 3px 5px rgba(0, 0, 0, 0.164);
    font-size:1.5rem;
}

controw1, controw2, controw3{
    display:flex;
    width:575px;
    justify-content: space-between;
}


footer{
    position:relative;
    padding-top:40px;
    z-index: 2;
    padding-left:40px;
    height:22%;
    background-color: var(--primary-colour);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.164), 0px -3px 5px rgba(0, 0, 0, 0.164), -5px 3px 5px rgba(0, 0, 0, 0.164);
    width:100%;

}

label{
    letter-spacing: 3px;
    font-size: 1rem;
}

myform{
    display:flex;
    flex-direction:column;
}

form{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:60%;
}

input:invalid{
    border-color:red;
}

input:valid{
    border-color: green;
}

button {
    background-color: rgb(250, 156, 171);
    font-size: 1.5rem;
    padding: 12px; 
    border-radius: 15px;
    border: 4px solid rgb(255, 240, 221);
    color:white;
    position:relative;
    z-index: 1;
}

button:active{
    background: rgb(250, 156, 171);
    -webkit-box-shadow: inset 0px 0px 10px #3838386b;
    -moz-box-shadow: inset 0px 0px 10px #3838386b;
         box-shadow: inset 0px 0px 10px #3838386b;
}

button:hover{
    cursor: pointer;
}

img{
    opacity:0.9;
    height: 6em;
    width: 6em;
    filter: blur(0.5px);
}

.companytxt{
    font-family: 'Quicksand','Pontano Sans','Trebuchet MS';
    letter-spacing:0.3em;
    font-size: 3rem;
    padding-left: 10px;
    color:white;


}